.recipe {
  max-width: 800px;
}
.detail {
  max-width: 814px;
}
.details {
  flex-direction: column;
  max-width: 1600px;
}
/***************** iPad ******************/
@media (min-width: 820px) {

}

/*************** Desktop ****************/
@media (min-width: 1200px) {
  .details {
    flex-direction: row;
  }
  .ingredients-wrapper {
    flex: 0 0 33.333333%;
  }
  .preparations-wrapper {
    flex: 0 0 33.333333%;
  }
  .instructions-wrapper {
    flex: 0 0 33.333333%;
  }
}