.recipe {
  max-width: 1200px;
}
.details {
  flex-direction: column;
}
.preparations-wrapper {
  margin-top: 5px;
}
.instructions-wrapper {
  margin-top: 5px;
}
/***************** iPad ******************/
@media (min-width: 820px) {

}

/*************** Desktop ****************/
@media (min-width: 1200px) {
  .details {
    flex-direction: row;
  }
  .preparations-wrapper {
    margin-top: 0;
  }
  .instructions-wrapper {
    margin-top: 0;
  }
}