.myrecipe-container {
  height: 100%;
}
.myrecipe-header {
  background-color: var(--blue);
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
}
.myrecipe-category {
  margin: 5px 0 0 0;
}