.myrecipe-wrapper {
  background-color: lightblue;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  border:1px solid black;
  border-radius: 3px;
  margin: 5px 0 0 0;
  padding: 5px;
}
/* Top */
.myrecipe-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
.myrecipe-name-short {
  font-size: 7vw;
}
.myrecipe-name-long {
  font-size: 5vw;
}
/* Middle */
.myrecipe-mid {
  display: flex;
  flex-grow: 1;
  padding: 5px;
}
.myrecipe-mid img {
  max-height: 130px;
  width: 25%;
}
.myrecipe-mid p {
  color: white;
  padding: 5px;
}
/* Bottom */
.myrecipe-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}
.myrecipe-bottom li {
  margin: 5px;
}
