.myrecipe-wrapper {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  max-width: 500px;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  margin: 10px 0 0 0;
  padding: 10px;
}
/************** Top **************/
.myrecipe-top {
  display: flex;
  align-items: center;
  height: 25%;
  border-bottom: 2px solid black;
}
.myrecipe-top h1 {
  flex-grow: 1;
  padding: 0 0 0 10px
}
.myrecipe-name-short {
  font-size: 26px;
}
.myrecipe-name-long {
  font-size: 18px;
}
.myrecipe-time {
  font-size: 18px;
  padding: 0 10px 0 0;
}
/************** Middle **************/
.myrecipe-mid {
  display: flex;
  height: 60%;
  padding: 5px;
}
.myrecipe-mid img {
  max-height: 130px;
  width: 30%;
  border-radius: 3px;
}
.myrecipe-mid p {
  width: 70%;
  color: var(--white);
  padding: 5px 0 0 10px;
}
/************** Bottom **************/
.myrecipe-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-top: 2px solid black;
}
.myrecipe-bottom li {
  font-size: 18px;
  margin: 5px;
}
/*************** iPad Air ****************/
@media (min-width: 820px) {
  .myrecipe-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(50% - 34px);
    border: 2px solid black;
    margin: 10px 5px 0;
    padding: 10px;
  }
}
/*************** Desktop ****************/
@media (min-width: 1200px) {
  .myrecipe-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(33.33% - 34px);
    border: 2px solid black;
    margin: 10px 5px 0;
    padding: 10px;
  }
}