.myrecipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 5px 0 0 0;
}
/*************** iPad Air ****************/
@media (min-width: 820px) {

}
/*************** Desktop ****************/
@media (min-width: 1200px) {
  .myrecipe-container {
    background-color: blue;
  }
}