.myrecipe-header {
  background-color: var(--blue);
  max-width: 500px;
  width: 90%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0 0 0;
}
.myrecipe-category {
  margin: 10px 0 0 0;
}
/*************** iPad Air (820x1180) ****************/
@media (min-width: 820px) {
  .myrecipe-header {
    background-color: pink;
  }
}