.myrecipe-header {
  background-color: var(--blue);
  max-width: 500px;
  width: 90%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0 0 0;
}
.myrecipe-category {
  margin: 10px 0 0 0;
}
/*************** iPad Air ****************/
@media (min-width: 820px) {
  .myrecipe-header {
    max-width: 800px;
    padding: 20px;
    margin: 20px 0 0 0;
  }
}
/*************** Desktop ****************/
@media (min-width: 1200px) {
  .myrecipe-header {
    max-width: 90%;
  }
}