:root {
  --orange: rgb(249, 181, 108);
  --blue: rgb(79, 146, 246); 
  --white: whitesmoke;
}
* {
  color: black;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: var(--orange);
}
a:hover {
  cursor: pointer;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.content {
  flex-grow: 1;
}
.page {
  height: 100%;
  width: 100vw;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Testing */
.white {
  background-color: whitesmoke;
}
.plum {
  background-color: plum;
}
.coral {
  background-color: coral;
}
.aqua {
  background-color: aqua;
}
.lightblue {
  background-color: lightblue;
}
.gold {
  background-color: gold;
}
/* Display Flex */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
/* Width */
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
/* Margin */
.margin-updown {
  margin: 5px 0;
}
/* Border */
.border {
  border: 2px solid black;
}
.border-bottom {
  border-bottom: 2px solid black;
}
.radius {
  border-radius: 5px;
}
/* Padding */
.padding {
  padding: 5px;
}
.padding-updown {
  padding: 5px 0;
}
.padding-sides {
  padding: 0 5px;
}
/* Font Sizes */
.font-3vw {
  font-size: 3vw;
}
.font-4vw {
  font-size: 4vw;
}
.font-5vw {
  font-size: 5vw;
}
.font-8vw {
  font-size: 8vw;
}
/***************** Font Sizes / iPad ******************/
@media (min-width: 820px) {
  .font-3vw {
    font-size: 24.6px;
  }
  .font-4vw {
    font-size: 32.8px;
  }
  .font-5vw {
    font-size: 41px;
  }
  .font-8vw {
    font-size: 65.5px;
  }
}
/*************** Font Sizes / Desktop ****************/
/* @media (min-width: 1200px) {
  .font-3vw {
    font-size: 36px;
  }
  .font-4vw {
    font-size: 48px;
  }
  .font-5vw {
    font-size: 60px;
  }
  .font-8vw {
    font-size: 96px;
  }
} */