:root {
  --orange: rgb(249, 181, 108);
  --blue: rgb(79, 146, 246); 
  --white: whitesmoke;
}
* {
  color: black;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: var(--orange);
}
a:hover {
  cursor: pointer;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.content {
  flex-grow: 1;
}
/* Display Flex */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
/* Border */
.border {
  border: 2px solid black;
}
.radius {
  border-radius: 5px;
}
/* Padding */
.padding {
  padding: 5px;
}