.nav-container {
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding: 20px;
}
/*************** iPad Air ****************/
@media (min-width: 820px) {
  .nav-container {
    border-bottom: 2px solid black;
    font-size: 25px;
  }
}
/*************** Desktop ****************/
@media (min-width: 1200px) {
  .nav-container {
    border-bottom: 2px solid black;
    font-size: 25px;
  }
}