.myrecipeslist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
/*************** iPad Air (820x1180) ****************/
@media (min-width: 820px) {
  .myrecipeslist-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(95% + 10px);
    max-width: 850px;
    margin: 20px 0 0 0;
  }
}
/*************** Desktop ****************/
@media (min-width: 1200px) {
  .myrecipeslist-container {
    width: calc(90% + 54px);
    max-width: 100%;
    margin: 20px 0 0 0;
  }
}